.header {
    text-align: center;
    vertical-align: top;
    font-size: 50px;
}

.bannerText {
    font-size: 18px;
}

.bannerLink {
    text-decoration: none;
}

.bannerLink:link, .bannerLink:visited {
    color: var(--trim-color);
}

.bannerLink:hover {
    color: red;
}

.boardBody {
    background-color: var(--background-color);
    color: var(--trim-color);
}

.replyList {
    width: 500px;
    margin-top: 50px;
}

.threadLink {
    color: var(--trim-color);
    font-size: 20px;
    text-decoration: none;
}

.threadLink:hover {
    color: red;
}

.threadTitle {
    color: var(--trim-color);
    font-size: 20px;
    width: 100%;
}

.submitForm {
    position: relative;
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
}

.loginForm {
    position: relative;
    width: 250px;
    left: 50%;
    transform: translateX(-50%);
}

.submitFormTitle {
    text-align: center;
}

.submitError {
    font-size: 20px;
    text-align: center;
    color: red;
    position: relative;
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
}

.displayMessage {
    font-size: 20px;
    text-align: center;
    color: var(--trim-color);
    position: relative;
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
}

.replyHeader {
    background-color: var(--main-color);
    border: solid 1px var(--trim-color);
    border-bottom: none;
}

.replyBody {
    border: solid 1px var(--trim-color);
    height: 200px;
}

.replyFooter {
    background-color: var(--main-color);
    border: solid 1px var(--trim-color);
    border-top: none;
}

hr {
    border: solid 0.5px var(--trim-color);
}

.homeImageDiv {
    margin-top: 50px;
    width: 40%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.replyFooterButton {
    color: var(--trim-color);
    background-color: var(--background-color);
    border: 1px solid var(--trim-color);
}

.replyFooterButton:hover {
    cursor: hand;
    background-color: var(--main-color);
}

.replyFooterButton:focus {
    outline: 0;
}

.viewThreadButton {
    margin-top: 3px;
    margin-right: 3px
}

.deleteThreadButton {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px
}

.threadButtonsForm {
    position: relative;
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.threadButtons {
    border: solid 2px;
    width: 80px;
    height: 30px;
    font-size: 18px;
}